<section class="homepage-section">
  <h1 class="homepage-heading">{{ capitalizeEveryWord(city.name) }}</h1>
  <!-- <button class="btn btn-primary" (click)="findWeather('London')">
    View Weather
  </button> -->
  <section class="weather-section" *ngIf="weather">
    <p class="weather-description">
      Currently {{ weather.weather[0].description }}
    </p>
    <p class="weather-temperature">
      There's a high of {{ weather.main.temp_max }} ° F and a low of
      {{ weather.main.temp_min }} ° F.
    </p>
  </section>
  <div class="cover">
    <img
      src="{{ city.coverImgUrl }}"
      alt="San Francisco Header"
      class="cover-img"
    />
  </div>
</section>
<div class="create-btn-container">
  <ng-template #postContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create a post</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <form #postForm="ngForm" novalidate>
        <div class="mb-3">
          <label for="title-name" class="col-form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title-name"
            [(ngModel)]="posts.title"
            required
            #title="ngModel"
            name="title"
            [class.is-invalid]="title.invalid && title.touched"
            maxlength="200"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="title.valid || title.untouched"
            >Title is required</small
          >
        </div>
        <div class="mb-3">
          <label for="user-name" class="col-form-label">User</label>
          <input
            type="text"
            class="form-control"
            id="user-name"
            [(ngModel)]="posts.user"
            name="user"
            #user="ngModel"
            [class.is-invalid]="user.invalid && user.touched"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="user.valid || user.untouched"
          >
            User is required
          </small>
        </div>
        <div class="mb-3">
          <label for="image" class="col-form-label">Image</label>
          <input
            [(ngModel)]="posts.imgForPost"
            name="image"
            #image="ngModel"
            type="text"
            class="form-control"
            id="image"
          />
        </div>
        <div class="mb-3">
          <label for="description-text" class="col-form-label">
            Description:
          </label>
          <textarea
            class="form-control"
            id="description-text"
            [(ngModel)]="posts.body"
            name="description"
            name="description"
            #description="ngModel"
            [class.is-invalid]="description.invalid && description.touched"
            required
          ></textarea>
          <small
            class="text-danger"
            [class.d-none]="description.valid || description.untouched"
          >
            Description is required
          </small>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close()"
      >
        Close
      </button>
      <button
        type="submit"
        class="btn btn-success"
        (click)="
          onSubmit(posts.title, posts.user, posts.body, posts.imgForPost);
          postForm.resetForm()
        "
        [disabled]="postForm.form.invalid"
      >
        Submit
      </button>
    </div>
  </ng-template>
  <button
    class="btn btn-lg btn-primary create-btn"
    (click)="openCreatePost(postContent)"
  >
    Create Post
  </button>
</div>
<section class="posts-section">
  <div class="post-container" *ngFor="let post of city.posts; index as i">
    <div class="card px-50 float-start">
      <div *ngIf="post.imgForPost">
        <img
          src="{{ post.imgForPost }}"
          class="card-img-top"
          alt="post image"
        />
      </div>
      <div class="card-body px-50">
        <h5 class="card-title">{{ post.title }}</h5>
        <!-- <p class="card-text">
          {{ post.title }}
        </p> -->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ post.title }}</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>
          <div class="modal-body">
            <div *ngIf="post.imgForPost">
              <img
                src="{{ post.imgForPost }}"
                alt="view post image"
                class="post-img"
              />
            </div>
            <p class="post-description">{{ post.body }}</p>
            <span class="post-user">- {{ post.user }}</span>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="modal.close()"
            >
              Close
            </button>
          </div>
        </ng-template>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
          View post
        </button>
      </div>
    </div>
  </div>
</section>
