<h1 class="homepage-heading">{{city.name}}</h1>
<div class="cover">
  <img
    src="{{city.postImgUrl}}"
    alt="San Francisco Header"
    class="cover-img"
  />
</div>
<div *ngFor="let post of city.posts; index as i;">
  <!-- <div class="col-sm-8"> -->
    <h1>
      <!-- <a routerLink="/cities/{{city.id}}/posts/{{post.title}}">{{city.name}}{{post.title}}</a> -->
    </h1>
    <a routerLink="/cities/{{city.id}}/posts/{{i}}" >{{post.title}} </a> 
    <h2>{{post.user}}</h2>
    <p>{{post.body}}</p>
    <!-- <img src="{{post.imgForPost}}" class="w-10"/> -->
  <!-- </div> -->
</div>