.homepage-section {
  height: 60vh;
}

.homepage-heading {
  text-align: center;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.cover-img {
  width: 80%;
  height: 100%;
}

.weather-section {
  text-align: center;
}

.create-btn-container {
  position: relative;
  padding: 5rem;
}

.create-btn {
  position: absolute;
  left: 10%;
  bottom: 25%;
  z-index: 2;
}

.card {
  border: 5px solid #1864ab;
  border-radius: 10px;
  margin-right: 15px;
  width: 29rem;
}

.card-img-top {
  width: 455px;
  height: 400px;
}

.posts-section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-rows: minmax(100px, auto);
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img {
  width: 475px;
  height: 400px;
}

.post-user {
  display: flex;
  font-style: italic;
  align-items: flex-end;
  justify-content: end;
}

.post-description {
  margin: 15px auto;
}
