/* You can add global styles to this file, and also import other style files */

body {
  background-color: #a5d8ff;
  font-family: "Open Sans", sans-serif;
  /* background-color: #023047; */
}

.carousel-control-next-icon::after {
  content: none !important;
}

.carousel-control-prev-icon::after {
  content: none !important;
}
