<h1>About Wayfarer....</h1>
<div>
  <p>
    Wayfarer was founded and created by four well polished amazing Java
    Immersive Scholars by the names of Sasha Carr, David Doan, Johnny Agugua and
    Kevin Brown on December of 2021. Wayfarer was created to give the audience
    an opportunity to take a moment of their day and view our radiant gorgeous
    world from the eye lens of the creator. This site is a place for exploring
    and seeing others' experiences while also being able to interact with those
    who have decided to post their experience. Wayfarer follows Love and Peace
    so always lead with that model when interacting with fellow account holders,
    we pride ourself on maintaining a <b>Peace And Love</b> environment......so
    stay a while and enjoy our glamorous site.
  </p>
</div>
