<section class="slideshow-section">
  <ngb-carousel *ngIf="images" class="city-carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="city-pics"
          src="./assets/images/san-francisco-landing.jpg"
          alt="san francisco"
        />
      </div>
      <div class="carousel-caption">
        <h2>San Francisco</h2>
        <p><span>"The view from the bridge is amazing!" - Justin</span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="city-pics"
          src="./assets/images/sydney-landing.jpg"
          alt="sydney"
        />
      </div>
      <div class="carousel-caption">
        <h2>Sydney</h2>
        <p><span>"Go scuba diving! It's a must" - Marie</span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="city-pics"
          src="./assets/images/seattle-landing.jpg"
          alt="seattle"
        />
      </div>
      <div class="carousel-caption">
        <h2>Seattle</h2>
        <p><span>"There's so much to do here!" - Raina</span></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="city-pics"
          src="./assets/images/london-landing.jpg"
          alt="london"
        />
      </div>
      <div class="carousel-caption">
        <h2>London</h2>
        <p><span>"Crepes! Crepes! Crepes!" - Arnold</span></p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<section class="description-section">
  <app-description></app-description>
</section>
