<div class="city-gallery-container">
    <ul class="gallery">
        <li> 
            <img class="galleryItem" id="san-francisco" src="./assets/images/san-francisco-landing.jpg">
        </li>
        <li>
             <img class="galleryItem" id="london" src="./assets/images/london-landing.webp">
        </li>
        <li> 
            <img class="galleryItem" id="sydney" src="./assets/images/sydney-landing.jpg">
        </li>
        <li> 
            <img class="galleryItem" id="seattle" src="./assets/images/seattle-landing.jpg">
        </li>
    </ul>
</div>

<script src="slideshow.component.js"></script>