<div
  class="d-flex align-items-center justify-content-center"
  style="height: 500px"
>
  <div
    class="bg-image ripple float-start px-2"
    data-mdb-ripple-color="light"
    *ngFor="let city of cities"
  >
    <img id="sanfran" src="{{ city.imgUrl }}" class="rounded hover-shadow" />
    <a routerLink="/cities/{{ city.name }}">
      <div class="mask">
        <div
          class="d-flex justify-content-center align-items-center h-100"
          id="sanfran"
        >
          <p>{{ capitalizeEveryWord(city.name) }}</p>
        </div>
      </div>
      <div class="hover-overlay">
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.2)"
        ></div>
      </div>
    </a>
  </div>
</div>

<router-outlet #target></router-outlet>
