<header class="header">
  <div class="logo-section">
    <span class="logo">WF</span>
    <a routerLink="/" class="app-name">Wayfarer</a>
  </div>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li><a routerLink="/cities" class="header-nav-link">Cities</a></li>
      <li>
        <div class="d-flex">
          <input
            class="form-control me-2"
            [(ngModel)]="city"
            type="search"
            placeholder="Search Cities"
            aria-label="Search"
            (keydown.enter)="onKeydownEvent(city)"
          />
          <button (click)="findCity(city)" class="btn btn-primary">
            Search
          </button>
        </div>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
